header{
  display:flex;
  justify-content:center;
  opacity:0.5;
}

.profilepic{  
  width:300px;
  height:300px;
}

h1{
  color:purple;
  font-weight:bold;
  font-family: 'Alfa Slab One', cursive;
  margin:30px auto;
  width:40vw;
  padding:20px;
  text-transform:uppercase;
  font-size:50px;
  letter-spacing:5px;
  border-top:1px solid;
  border-bottom:1px solid;
}

.container{
  border: 5px solid pink;
  padding: 30px;
  height: 200px;
  max-width: 1000px;
  margin:auto;
}

@media (min-width: 700px){
  .container{
    height:100px;
    margin:auto;
  }
} 

#firstcon{
  font-size:1.2em;
}

h2{
  color:purple;
  font-size:1.5em;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.container2 {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  /*flex-direction:column;
  justify-content:space-between;*/
}

.favoriteMovies {
	max-width: 100%; 
	margin: 2% auto; 
	border-radius: 6px;
	background: #f4f4f4;
}

.movieContainer {
	padding: 4%;
}

img {
  max-width: 85%;
  align-self: center;
}

.button	{
	background: pink;
	padding: 2%;
	border-radius: 6px;
	color: #fff;
	text-decoration: none;
}

@media (min-width: 520px) {
  .container2 {
    width: 50%;
    margin: 0 auto; /* centers content */
    flex-flow: row nowrap;
  }
  
  img {
    width: 40%;
  }
  
  .favoriteMovies {
		max-width: 80%;
	}
  
  .movieContainer{
		overflow: auto;
	}
}

.container2, p{
  font-family: 'Hind', sans-serif;
}

h3{
  background-color:lightgrey;
  padding:50px;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Carrois Gothic SC', sans-serif;
}