.headerbox{
  background-color:#f2c94c;
	height: 70px;
  position:relative;
}

.square{
  position:absolute;
  top:20px;
  left:30px;
}

#square {
	width: 30px;
	height: 30px;
	background: #2d9cdb;
}

.linecontainer{
  position:absolute;
  top:20px;
  right:30px;
}

hr.line{
  width:30px;
	border-top: 3px solid #8c8b8b;
}

.profilepic {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.profilepic img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.profileContainer {
	background: #2d9cdb;
	margin: 0 auto;
}

h1{
  font-family: 'Rozha One', serif;
}

.contentContainer {
	text-align: center;
	padding: 5%;
}

.contentContainer p{
  color:white;
  line-height: 2;
  font-family: 'Monda', sans-serif;
}

.lightblue{
  background:#5ad6fe;
  height:50px;
}

.moviecontainer {
	padding:2%;
	margin: auto;
}

#heart {
    position: relative;
    width: 50px;
    height: 45px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 25px;
    top: 0;
    width: 25px;
    height: 40px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.heartcontainer {
	display: flex;
  float:right;
	flex-flow: row wrap;
  padding:5%;
  max-width:50%;
}

.moviesummarry{
  background:#f2c94c;
  max-width:70%;
  margin-left:80px;
  padding:2%;
  line-height: 2;
  text-align: center;
  box-shadow: 8px 8px 3px #d5d5d5;
}

.moviecontainer img { 
	max-width: 35%;
  position:relative;
  box-shadow: 8px 8px 3px #d5d5d5;
}

.col{
  padding: 1em
}

.bookContainer {
	/*max-width: 50%;*/ 
	margin-top: 100px; 
	background: #f4f4f4;
}

.bookcontent img { 
	max-width: 35%;
  
}

.logocontainer{
  margin-top:100px;
  display:inline-flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.logocontainer img{
  max-width:40%;
  height:50px;
}

h3,p{ 
  font-family: 'Raleway', sans-serif;
}

.bookContainer h3{
  padding:5%;
}

h3{
  margin-left:20px;
}

#closer{
  margin-top:-15px;
}

p{
  font-size:12px;
}

@media (min-width: 725px) {
  .profileContainer,.lightblue {
	max-width: 70%;
	margin: 0 auto;
}
  .moviecontainer{
    margin-top:50px;
		display: flex;
    position:relative;
    
  }
  
.col {
		flex: 1;
  flex-direction:column;
	}
  
  .moviesummarry, .moviecontainer img{
    box-shadow:none;
  }
  
  
  .heartcontainer{
    position:absolute;
    top:-80px;
  }
  
  .moviesummarry{
    margin-left:0px;
    margin-top:10px;
  }
  
  #first, #closer{
    display:inline-flex;
    margin-top:45px;
  }
  
  .moviecontainer img { 
	max-width: 75%;
}
}